body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0077cc;
    color: white;
    padding: 20px;
    text-align: center;
}

input#searchInput {
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

main {
    padding: 20px;
}

.pension {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.pension a {
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
}
